:root {
  --main-color: #00cc90;
  --black: #222;
  --white: #fff;
  --light-black: #777;
  --light-white: #fff9;
  --blue: #142136;
  --dark-bg: rgba(0, 0, 0, 0.7);
  --light-bg: #eee;
  --border: 0.1rem solid var(--black);
  --box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  --text-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.3);
}
@keyframes fadeIn {
  0% {
    transform: scale(0);
    opacity: 0;
  }
}
html {
  font-size: 62.5%;
  background-color: var(--white);
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.green {
  color: #00cc90;
}
body {
  font-family: "Poppins", sans-serif;
}
section {
  padding: 5rem 10%;
}
header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1%;
}
.header-container {
  display: flex;
  width: 90%;
  justify-content: space-between;
  align-items: center;
}

.header-container h1 {
  font-size: 3.2rem;
}
nav a {
  all: unset;
  font-size: 2rem;
  text-align: center;
  margin-right: 2.5rem;
  transition: 0.3s;
  cursor: pointer;
  padding: 1rem;
  border-bottom: 2px solid white;
}
nav a:hover {
  color: #00cc90;
  border-bottom: 2px solid var(--main-color);
}
.carousel {
  position: relative;
}
.right-arrow {
  position: absolute;
  top: 40%;
  right: 2rem;
  font-size: 5rem;
  color: var(--main-color);
  opacity: 0.6;
  cursor: pointer;
  z-index: 100;
}
.left-arrow {
  position: absolute;
  top: 40%;
  left: 2rem;
  font-size: 5rem;
  color: var(--main-color);
  opacity: 0.6;
  cursor: pointer;
  z-index: 100;
}
.slider-container {
  overflow: hidden;
  height: 600px;
  width: 100%;
  text-align: center;
  position: relative;
}
.slider-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
}
.slide {
  height: 100%;
  position: absolute;
  width: 100%;
  transition: 0.3s all ease-in-out;
}
.slider-maintext {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.slider-text {
  display: block;
  text-transform: capitalize;
  color: var(--light-white);
  font-size: 2.4rem;
  margin-bottom: 1rem;
  animation: fadeIn 0.2s linear backwards 0.4s;
}
.slider-title {
  text-transform: uppercase;
  font-size: 8rem;
  line-height: 95%;
  font-weight: bold;
  margin-bottom: 3rem;
  color: var(--white);
  animation: fadeIn 0.3s linear backwards 0.5s;
}
.slide:nth-child(1) {
  left: 0;
}
.slide:nth-child(2) {
  left: 100%;
}

.slide:nth-child(3) {
  left: 200%;
}

.btn-discover {
  all: unset;
  color: var(--white);
  font-size: 2rem;
  padding: 18px 40px;
  background-color: var(--main-color);
  animation: fadeIn 0.2s linear backwards 0.7s;
}
.btn-discover:hover {
  background-color: var(--light-black);
}
.services .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
  gap: 1.5rem;
}

.services .box-container .box {
  padding: 3rem 2rem;
  text-align: center;
  background: var(--blue);
  cursor: pointer;
}

.services .box-container .box:hover {
  background: var(--main-color);
  transform: scale(1.05);
}

.services .box-container .box img {
  height: 7rem;
}

.services .box-container .box h3 {
  color: var(--white);
  font-size: 1.7rem;
  padding-top: 1rem;
}
.heading-title {
  text-align: center;
  margin-bottom: 3rem;
  font-size: 6rem;
  text-transform: uppercase;
  color: var(--black);
}
/* start about */
.about {
  display: flex;
  flex-wrap: wrap;
}
.about-img {
  width: 50%;
  height: 450px;
  flex: 1 1 41rem;
}
.about-img img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.about-container {
  font-size: 1.6rem;
  height: fit-content;
  padding: 4rem;
  margin-top: 7rem;
  width: 50%;
  background-color: var(--blue);
  color: whitesmoke;
}
.about-container h1 {
  color: var(--main-color);
  font-size: 5rem;
}

/* end about */
/* start destinations */
.destinations {
  font-size: 1.4rem;
}
.destinations-container {
  display: flex;
  gap: 20px;
  width: 100%;
  flex-wrap: wrap;
}
.destination-box {
  border: 1px solid black;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  flex: 1 1 30rem;
  height: 41rem;
  min-width: 41rem;
  transition: 0.3s;
}
.destination-box:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  z-index: 100;
  transform: scale(1.05);
}
.destination-box img {
  object-fit: cover;
  width: 100%;
  height: 80%;
}
.destination-box h4 {
  padding: 1rem;
  font-size: 2rem;
}
.destination-box span {
  padding-left: 1rem;
  font-size: 1.3rem;
}
.destination-text {
  position: relative;
  height: 20%;
  margin-top: -6px;
}
.book-now {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: var(--main-color);
}
.book-now div {
  font-weight: bold;
  text-transform: uppercase;
  color: var(--white);
}
.fa-map-marker-alt {
  color: var(--main-color);
}
/* footer start  */
.footer {
  font-size: 1.5rem;
  background-color: var(--blue);
  width: 100%;
  display: flex;
  align-items: top;
  padding: 5rem 1rem;
}

.footer section {
  padding: 1rem 2rem;
  width: 100%;
  vertical-align: top;
}

.footer section h3 {
  color: var(--white);
}

.footer section a {
  color: var(--light-white);
  display: flex;
  align-items: center;
  white-space: nowrap;
  margin: 15px 0;
}

.footer section a:hover {
  color: var(--white);
}

.footer section:nth-child(2) a:before {
  content: "";
  font-family: "FontAwesome";
  margin-right: 5px;
  color: var(--white);
}

.footer section a span {
  margin: 0 10px;
}

.sub-footer {
  font-size: 2rem;
  background-color: var(--blue);
  text-align: Center;
  color: var(--light-bg);
  padding: 1rem 0;
}

@media (max-width: 1020px) {
  .footer {
    display: block;
  }
  .footer section {
    padding: 1rem 1rem;
  }
  .footer section:nth-child(2),
  .footer section:nth-child(3) {
    width: 49%;
    display: inline-block;
  }
}

/* footer end */
